<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.onlineaccess.modular.mapper.ApplicationFileMapper">

    <resultMap id="projectResult" type="cn.stylefeng.guns.onlineaccess.modular.entity.ApplicationFile">
        <id column="id" property="id" />
        <result column="file" property="fileId" />
        <result column="application_id" property="applicationId" />

        <!--        <association property="sysUser" javaType="cn.stylefeng.guns.sys.modular.user.entity.SysUser">-->
        <!--            <result column="name" property="name " />-->
        <!--            <result column="email" property="email" />-->
        <!--            <result column="phone" property="phone" />-->
        <!--        </association>-->

        <!--        <association property="datanegotiator" javaType="cn.stylefeng.guns.sys.modular.user.result.SysUserResult">-->
        <!--            <result column="name" property="name " />-->
        <!--            <result column="email" property="email" />-->
        <!--            <result column="phone" property="phone" />-->
        <!--        </association>-->
    </resultMap>

    <!--        获取项目分页列表-->
</mapper>
