<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.onlineaccess.modular.mapper.DataTypeMapper">

    <resultMap id="dataTypeResult" type="cn.stylefeng.guns.onlineaccess.modular.result.DataTypeResult">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="org_id" property="orgId" />
        <result column="email" property="email" />
        <result column="data_manager" property="dataManager" />
        <result column="project_id" property="projectId" />
        <association property="dataTypeDirectorResult" javaType="cn.stylefeng.guns.onlineaccess.modular.result.DataTypeDirectorResult">
            <result column="id" property="id" />
            <association property="sysUser" javaType="cn.stylefeng.guns.sys.modular.user.entity.SysUser">
                <result column="name" property="name" />
            </association>

        </association>
    </resultMap>

    <!--        获取数据类型分页列表-->
    <select id="getDataTypeByProjectIdResult" parameterType="cn.stylefeng.guns.onlineaccess.modular.result.DataTypeResult" resultMap="dataTypeResult">
        select data_type.*,a.name
        from data_type left join
        (select data_type_director.data_type_id,sys_user.name as 'name'
        from data_type_director left join sys_user on data_type_director.user_id=sys_user.id) as a
        on data_type.id=a.data_type_id
        <where>
            data_type.project_id=#{id}
        </where>

    </select>
</mapper>
